<div class="sidebar">
  <div class="sidebar-header">
    <h2><i class="fas fa-tshirt"></i> 时装WMS</h2>
    <p>仓库管理系统</p>
  </div>
  <ul class="sidebar-menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard"><i class="fas fa-chart-line"></i> 控制面板</li>
    <li routerLinkActive="active" routerLink="/products"><i class="fas fa-tshirt"></i> 产品管理</li>
    <li routerLinkActive="active" routerLink="/stocks"><i class="fas fa-boxes"></i> 出入库</li>
    <li routerLinkActive="active" routerLink="/reports"><i class="fas fa-chart-pie"></i> 销售报告</li>
  </ul>
</div>
