p-datepicker,
p-selectbutton {
  vertical-align: middle;
  margin-bottom: 1rem;
}

p-datepicker {
  width: 250px; /* 固定宽度，更好看 */
  margin-right: 1rem;
  font-size: 1rem;
}

p-selectButton .p-button {
  margin-right: 0.5rem;
  border-radius: 6px;
  padding: 0.4rem 1rem;
  transition: all 0.2s;
}

p-selectButton .p-button.p-highlight {
  background-color: #007ad9;
  color: #fff;
  border: none;
}
